:root {
	--primary-color: #dcd6f7;
	--secondary-color: #a6b1e1;
	--font-color: #424874;
	--bg-color: #fff;
	--heading-color: #292922;
	--border-hover-color: ;
	/* Greeting */
	--greeting-bg-color: #151517;
	--greeting-font-color: #e1e1ff;
	/* Sticky */
	--nav-bg-color: rgba(0, 0, 0, 0.08);
	--nav-font-color: #151517;
	--nav-hover-color: rgba(0, 0, 0, 0.623);
}

[theme="dark"] {
	--primary-color: #9a97f3;
	--secondary-color: #818cab;
	--font-color: #e1e1ff;
	--bg-color: #151517;
	--heading-color: #818cab;
	--border-hover-color: #c8c6f3;
	/* Greeting */
	--greeting-bg-color: #fff;
	--greeting-font-color: #424874;
	/* Sticky */
	--nav-bg-color: rgba(255, 255, 255, 0.08);
	--nav-font-color: #fff;
	--nav-hover-color: rgba(255, 255, 255, 0.623);
}

/* ##################################################### */

.App {
	background-color: var(--bg-color);
	transition: background-color 0.3s ease-in-out;

	/* Dot Grid Pattern */
	/* background: radial-gradient(
		circle at calc(var(--mouse-x, 0) * 38%) calc(var(--mouse-y, 0) * 38%),
		circle at 1px 1px,
			var(--font-color) 1px,
		var(--bg-color) 1px
	); */

	/* Cross Dot Grid Pattern */
	/* background: radial-gradient(var(--font-color) 1px, transparent 0),
		radial-gradient(var(--font-color) 1px, var(--bg-color) 1px); */
	/* background-position: 0 0, 30px 30px; */

	/* background-size: 60px 60px; */

	/* text-align: center; */
	/* scroll-behavior: smooth; */
	display: flex;
	flex-flow: column wrap;
	color: var(--font-color);
	/* padding: 0 3%; */
}

/* .App-logo {
	height: 40vmin;
	pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
} */

/* .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
} */

/* .App-link {
	color: #61dafb;
	color: var(--primary-color);
} */

/* @keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

/* Landing Greeting Animation */
.greetContainer {
	position: fixed;
	/* border: 2px red solid; */
	width: 100vw;
	transition: transform 0.9s cubic-bezier(0.87, 0, 0.13, 1);
	z-index: 3;
}

.greetDiv {
	height: 100vh;
	background-color: var(--greeting-bg-color);
	color: var(--greeting-font-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.greetCurve {
	transition: transform 0.7s cubic-bezier(0.87, 0, 0.13, 1);
}

.hero {
	height: 100vh;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	/* border: 3px solid white; */

	& > * {
		/* border: 1px solid red; */
	}

	& > section {
		/* display: flex; */
		/* flex-flow: column wrap; */
		/* position: relative; */
		/* align-self: flex-start; */
		/* left: 15%; */
		width: 80%;

		& > * {
			margin: 0;
			font-size: calc((6vw + 6vh) / 2);
			color: var(--secondary-color);
			font-weight: lighter;
			font-style: italic;
		}

		& > h2 {
			font-size: calc((3vw + 3vh) / 2);
		}
	}
}

#navContainer {
	display: flex;
	flex-flow: wrap;
	position: absolute;
	top: 14px;
	/* border: 1px solid red; */
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 90vw;
	max-height: 45px;
}

#navContainer h2 {
	transition: 0.4s;

	&::after {
		content: " .";
		color: orange;
	}

	&:hover {
		letter-spacing: 7px;
		cursor: default;
		padding-right: 7px;
	}
}

/* Toggle Theme */
#toggleTheme {
	/* all: unset; */
	background-color: transparent;
	/* border: none; */
	padding: 0;
	border-radius: 50%;
	cursor: pointer;
	inline-size: 2rem;
	block-size: 2rem;
	/* touch-action: manipulation; */
	/* -webkit-tap-highlight-color: transparent; */
	/* outline-offset: 5px; */

	& > svg {
		stroke-linecap: round;
	}

	& :hover {
		fill: red;
		stroke: red;
	}
}

.sun-and-moon {
	& > :is(.moon, .sun, .sun-beams) {
		transform-origin: center center;
	}

	& > :is(.moon, .sun) {
		/* fill: var(--icon-fill); */
	}

	& > .sun-beams {
		/* stroke: var(--icon-fill); */
		stroke-width: 2px;
	}
}

/* Navbar fixed and pop-out */
.navBar,
.navSticky {
	font-size: 14px;
	font-weight: lighter;
	display: flex;
	align-self: center;
	/* justify-content: space-evenly; */
	min-width: fit-content;
	width: 25%;
	/* max-width: 25%; */
	background-color: var(--nav-bg-color);
	backdrop-filter: blur(16px);
	border-radius: 25px;
	list-style: none;
	border: 1px solid var(--nav-bg-color);
	padding: 0;
	z-index: 2;

	& li {
		color: var(--nav-font-color);
		text-align: center;
		/* margin: 0 8px; */
		padding: 12px 10px;
		width: 100%;
		/* border: 1px white solid; */
	}

	& li label {
		font-weight: normal;
		transition: color 0.3s ease;
	}

	& li:hover {
		color: var(--nav-hover-color);
	}
}

.navBar {
	position: absolute;
	top: 0;
}

.navSticky {
	/* position: sticky; */
	position: fixed;
	top: -100px;
	/* transition: 0.4s cubic-bezier(0.53, 1.69, 0.9, 0.89); */
	transition: 0.5s cubic-bezier(0.5, -0.75, 0.5, 1.75);
}

/* Scroll Down Prompt */
.scrollDownPrompt {
	position: absolute;
	bottom: 3vh;
	width: 2vw;
	min-width: 25px;
	height: 2vh;
	min-height: 25px;
	animation: fade_move_down 1.7s ease-in infinite;
}

@keyframes fade_move_down {
	0% {
		transform: translate(0, -3vh);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate(0, 3vh);
		opacity: 0;
	}
}

/* Experience Section */
#experienceSection {
	/* text-align: center; */
	color: var(--font-color);
	/* border: solid 5px grey; */
	border-radius: 15px;
	width: 85%;
	align-self: center;
	padding: 55px 10px 10px 10px;
}

/* Scroll To Top */
.scrollTopButton {
	opacity: 0;
	position: fixed;
	right: 2vw;
	bottom: 3vh;
	height: 65px;
	transition: opacity 0.4s ease-in-out;
	z-index: 2;
}

.scrollTopButton:hover > .arrow > #SVGRepo_iconCarrier > path {
	stroke: var(--nav-hover-color);
}

/* ##################################################### */

/* Small Screens  */
@media screen and (max-width: 768px) {
	.navBar {
		display: none;
	}
}
