/* Skills COmponent */
.skillsContainer {
	color: white;
	/* border: solid 5px grey; */
	border-radius: 15px;
	width: 80%;
	align-self: center;
	padding: 0 10px 10px 10px;
}

/* Pill Component */
.pillList {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	/* border: 1px solid white; */
}

.pillComp {
	background-color: #2d2b3c;
	border-radius: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px 15px;
	margin: 5px 3px;
	/* border: 5px solid #1c1a26; */
}

.pillcomp > img {
	/* width: 50; */
	/* border: 1px solid white; */
}

.pillComp > p {
	/* border: 1px solid white; */
	margin: 0 10px;
}

@media screen and (max-width: 768px) {
	.pillComp > p {
		display: none;
	}
}
